@model SistemaClinico.Models.Alergias

@{
    ViewBag.Title = "Delete";
}

<div class="titulo_general"><h1>Alergias</h1></div>

<h3>¿Está seguro de eliminar esta alergia?</h3>
<div>
    @*<h4>Alergias</h4>*@
    <hr />
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_ALERGIA)
        </dd>

        <dt>
            @Html.DisplayName("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

    </dl>*@

    <table class="table_lista">
        <tr class="tr_lista">
            <th class="th_lista">@Html.DisplayName("Nombre")</th>
            <th class="th_lista">@Html.DisplayName("Descripción")</th>
        </tr>
        <tr class="tr_lista">
            <td class="td_lista">@Html.DisplayFor(model => model.NOMBRE_ALERGIA)</td>
            <td class="td_lista">@Html.DisplayFor(model => model.DESCRIPCION)</td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @*<div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>*@
        <table align="center">
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Borrar Alergia" class="btn btn-success" />
                        </div>
                    </div>
                </td>
                <td>&nbsp;  &nbsp; &nbsp;  &nbsp;</td>
                <td>
                    <div div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input onclick="location.href='@Url.Action("Index", "Alergias")'" type="button" value="Volver" class="btn btn-finalizar" />
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    }
</div>
