@model IEnumerable<SistemaClinico.Models.Alergias>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table  class="table_lista">
    <tr class="tr_lista">
        <th class="th_lista">
            @Html.DisplayNameFor(model => model.NOMBRE_ALERGIA)
        </th>
        <th class="th_lista">
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th class="th_lista">
            @Html.DisplayName("OPCIONES")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="tr_lista">
        <td class="td_lista">
            @Html.DisplayFor(modelItem => item.NOMBRE_ALERGIA)
        </td>
        <td class="td_lista">
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td class="td_lista">
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
