<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaClinico</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/sheetslider.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/estilito.css" />
    <link rel="stylesheet" href="~/Content/Tablas.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-timepicker.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")

</head>
<body>
    


    <div class="sheetSlider sh--default">
        <input id="s1" type="radio" name="slide1" checked />
        <input id="s2" type="radio" name="slide1" />
        <input id="s3" type="radio" name="slide1" />
        <input id="s4" type="radio" name="slide1" />
        <div class="sh__content">


            <div class="slider">
                <ul>
                    <li>

                        <img src="~/Content/Images/banergeneral2.jpg" alt="imgText" class="imgSlider" />
                        <div class="sh__meta">
                            <img src="~/Content/Images/Datanetsvlogo.png" class="imgbanner" />
                        </div>

                    </li>
                    <li>

                        <img src="~/Content/Images/bannerfrase2.png" alt="imgText" class="imgSlider" />

                    </li>
                    <li>

                        <img src="~/Content/Images/bannercuidatushijos2.png" alt="imgText" class="imgSlider" />


                    </li>
                </ul>
            </div>
            <div class="sh__item">

                <img src="~/Content/Images/banergeneral2.jpg" alt="imgText" class="imgSlider" />
                <div class="sh__meta">
                    <img src="~/Content/Images/Datanetsvlogo.png" class="imgbanner" />
                </div>
            </div>
            <div class="sh__item">

                <img src="~/Content/Images/bannerfrase2.png" alt="imgText" class="imgSlider" />
                <div class="sh__meta">

                </div>
            </div>

            <div class="sh__item">

                <img src="~/Content/Images/bannercuidatushijos2.png" alt="imgText" class="imgSlider" />
                <div class="sh__meta">

                </div>
            </div>

        </div>
        <div class="sh__btns">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
            <label for="s4"></label>
        </div>

        <div class="sh__arrows">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
            <label for="s4"></label>
        </div>

    </div>


    <header>

        @if (Session["Rol"] == null)
        {
            //No logueado
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;
            <a class="navbar-brand2" href="@Url.Action("Index", "Home")">


                <img src="~/Content/Images/Datanetsv.png" class="imglogo" />
                Bienvenidos

            </a>
            <div class="container">



                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <div class="dropdown">
                                <a>
                                    Informacion de Salud
                                    <img src="~/Content/Images/info.png" class="imgicono" />


                                </a>
                                <div class="dropdown-content">

                                    <a class="nav-link text-dark" href="@Url.Action("Index", "Sintomas")">
                                        Sintomas
                                    </a>
                                    <a class="nav-link text-dark" href="@Url.Action("Index", "Enfermedades")">
                                        Enfermedades y Afecciones
                                    </a>
                                    <a class="nav-link text-dark" href="@Url.Action("SoliRegistro", "Home")">
                                        Solicitar Cita
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a>
                                    Departamentos
                                    <img src="~/Content/Images/depamedico.png" class="imgiconodepamedico" />

                                </a>
                                <div class="dropdown-content">
                                    <a class="nav-link text-dark" href="@Url.Action("Index", "Departamento")">
                                        Departamentos y Centros
                                    </a>
                                    <a class="nav-link text-dark" href="@Url.Action("Index", "Consultorios")">

                                        Consultorios
                                    </a>
                                    <a class="nav-link text-dark" href="@Url.Action("Index", "UsuariosPersonal")">
                                        Doctores y Personal Medico
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Medicamentos")">
                                    Medicamentos
                                    <img src="~/Content/Images/medicamentos.png" class="imgicono" />

                                </a>
                            </div>

                        </li>
                        <li class="nav-item">

                            <div class="dropdown">
                                <a href="@Url.Action("Contact", "Home")">

                                    Contactenos
                                    <img src="~/Content/Images/contactenos.png" class="imgicono" />
                                </a>
                            </div>


                        </li>

                    </ul>
                </div>
            </div>



            @if (Session["User"] == null)
            {
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item2">
                <div class="dropdown2">
                    <a href="@Url.Action("Create", "Registro")">
                        Registrarse
                    </a>

                </div>
            </li>
            <li class="nav-item2">
                <div class="dropdown2">
                    <a href="@Url.Action("LoginV", "Login")">
                        Login
                    </a>

                </div>
            </li>
        </ul>
            }
            else
            {
                <div class="dropdown">

                    <div class="nav-item">
                        <div class="dropdown2">
                            Usuario: @Session["User"]
                        </div>

                    </div>
                    <div class="nav-item">

                        <div class="dropdown2">
                            <a href="@Url.Content("~/Login/Salir")">Salir</a>
                        </div>


                    </div>


                </div>

            }
            &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;




        </nav>
        }
        else if (Session["Rol"].Equals(1))
        {
            //Logeado paciente
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;
        <a class="navbar-brand2" href="@Url.Action("Index", "Home")">

            <img src="~/Content/Images/Datanetsv.png" class="imglogo" />
            Bienvenidos

        </a>
        <div class="container">



            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <div class="dropdown">
                            <a>
                                Informacion de Salud
                                <img src="~/Content/Images/info.png" class="imgicono" />

                            </a>
                            <div class="dropdown-content">

                                <a class="nav-link text-dark" href="@Url.Action("Index", "Sintomas")">
                                    Sintomas
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Enfermedades")">
                                    Enfermedades y Afecciones
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a>
                                Atención al Paciente
                                <img src="~/Content/Images/atencionpaciente.png" class="imgicono" />
                            </a>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" href="@Url.Action("Create", "CitasPaciente", new {  id2=Session["id"] })">
                                    Solicitar Cita
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("GeneracionConstancias", "Consultas")">
                                    Generar Constancia Medica
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("GeneracionPrescripcion", "Consultas")">
                                    Generar Prescripción Médica
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a>
                                Mi Expediente
                                <img src="~/Content/Images/expediente.png" class="imgicono" />
                            </a>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" href="@Url.Action("InformacionMedica", "Usuarios", new { id = Session["id"]  })">
                                    Mi informacion Medica
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "CitasPaciente")">
                                    Mis Citas Medicas
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Consultas")">
                                    Mis Consultas Medicas
                                </a>
                                @*<a class="nav-link text-dark" href="@Url.Action("Index", "Sintomas")">
                                    Mis Constancias Medicas
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Sintomas")">
                                    Mis Prescripciones Medicas
                                </a>*@
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a>
                                Departamentos
                                <img src="~/Content/Images/depamedico.png" class="imgiconodepamedico" />

                            </a>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Departamento")">

                                    Departamentos y Centros
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Consultorios")">

                                    Consultorios
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "UsuariosPersonal")">
                                    Doctores y Personal Medico
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link text-dark" href="@Url.Action("Index", "Medicamentos")">
                                Medicamentos
                                <img src="~/Content/Images/medicamentos.png" class="imgicono" />

                            </a>

                        </div>

                    </li>
                    <li class="nav-item">

                        <div class="dropdown">
                            <a href="@Url.Action("Contact", "Home")">

                                Contactenos
                                <img src="~/Content/Images/contactenos.png" class="imgicono" />
                            </a>
                        </div>


                    </li>

                </ul>
            </div>
        </div>


        @if (Session["User"] == null)
        {
            <div class="dropdown">
                <partial name="_LoginPartial" />
                <a href="@Url.Action("LoginV", "Login")">
                    Login
                </a>
            </div>
        }
        else
        {

        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item2">
                <div class="dropdown">
                    <a>
                        @Session["Nombre"] @Session["Apellido"]
                    </a>
                        <div class="dropdown-content">
                            <a class="nav-link text-dark" href="@Url.Action("miperfil", "Usuarios", new {  id=Session["id"] })">
                                Mi perfil
                            </a>
                            <a class="nav-link text-dark" href="@Url.Content("~/Login/Salir")">Salir</a>
                        </div>
                </div>

            </li>
        </ul>

        }
        &nbsp;  &nbsp;  &nbsp; 



    </nav>
        }
        else if (Session["Rol"].Equals(2))
        {
            //Logeado enfermero
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;
        <a class="navbar-brand2" href="@Url.Action("Index", "Home")">
            <img src="~/Content/Images/Datanetsv.png" class="imglogo" />
            Bienvenidos

        </a>
        <div class="container">


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <div class="dropdown">
                            <a>
                                Pacientes
                                <img src="~/Content/Images/pacientes.png" class="imgicono" />
                            </a>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Usuarios")">
                                    Perfil pacientes
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Sintomas")">
                                    Constancias médicas
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Sintomas")">
                                    prescripciones médicas
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link text-dark" href="@Url.Action("ListadoCitasPaciente", "CitasPaciente")">
                                Solicitud de citas
                                <img src="~/Content/Images/solicitud.png" class="imgicono" />
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link text-dark" href="@Url.Action("ListadoCitasPacienteAceptada", "CitasPaciente")">
                                Agenda de Citas
                                <img src="~/Content/Images/agenda.png" class="imgicono" />
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link text-dark" href="@Url.Action("Index", "Medicamentos")">
                                Medicamentos
                                <img src="~/Content/Images/medicamentos.png" class="imgicono" />

                            </a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link text-dark" href="@Url.Action("ListadoCitasPacienteHistorial", "CitasPaciente")">
                                Historial de Citas
                                <img src="~/Content/Images/historial.png" class="imgicono" />
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a>
                                Departamentos
                                <img src="~/Content/Images/depamedico.png" class="imgiconodepamedico" />
                            </a>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Departamento")">

                                    Departamentos y Centros
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Consultorios")">

                                    Consultorios
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "UsuariosPersonal")">
                                    Doctores y Personal Medico
                                </a>
                            </div>
                        </div>

                    </li>

                </ul>
            </div>
        </div>

        @if (Session["User"] == null)
        {
            <div class="dropdown">
                <partial name="_LoginPartial" />
                <a href="@Url.Action("LoginV", "Login")">
                    Login
                </a>
            </div>
        }
        else
        {
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item2">
            <div class="dropdown">
                <a>
                  @Session["Nombre"] @Session["Apellido"]
                </a>
                <div class="dropdown-content">
                    <a class="nav-link text-dark" href="@Url.Action("miperfil", "UsuariosPersonal", new {  id=Session["id"] })">
                        Mi perfil
                    </a>
                    <a class="nav-link text-dark" href="@Url.Content("~/Login/Salir")">Salir</a>
                </div>
            </div>

        </li>
    </ul>
        }
        &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;

    </nav>
        }
        else if (Session["Rol"].Equals(3))
        {
            //Logeado doctor
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;
        <a class="navbar-brand2" href="@Url.Action("Index", "Home")">

            <img src="~/Content/Images/Datanetsv.png" class="imglogo" />
            Bienvenidos

        </a>
        <div class="container">


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <div class="dropdown">
                            <a>
                                Pacientes
                                <img src="~/Content/Images/pacientes.png" class="imgicono" />
                            </a>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Usuarios")">
                                    Perfil paciente
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("IndexPacientesAgregar", "Usuarios")">
                                    Información médica
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("ConstanciaPaciente", "Usuarios")">
                                    Constancias médicas
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("PrescripcionPaciente", "Usuarios")">
                                    Prescripciones médicas
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link text-dark" href="@Url.Action("IndexC", "Consultas")">
                                Consultas Medicas
                                <img src="~/Content/Images/historial.png" class="imgicono" />
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link text-dark" href="@Url.Action("AgendaCitaDoctor", "CitasPaciente")">
                                Agenda de Citas
                                <img src="~/Content/Images/agenda.png" class="imgicono" />
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link text-dark" href="@Url.Action("Index", "Medicamentos")">
                                Medicamentos
                                <img src="~/Content/Images/medicamentos.png" class="imgicono" />

                            </a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link text-dark" href="@Url.Action("ListadoCitasPacienteHistorial", "CitasPaciente")">
                                Historial de Citas
                                <img src="~/Content/Images/historial.png" class="imgicono" />
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a>
                                Departamentos
                                <img src="~/Content/Images/depamedico.png" class="imgiconodepamedico" />
                            </a>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Departamento")">

                                    Departamentos y Centros
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Consultorios")">

                                    Consultorios
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "UsuariosPersonal")">
                                    Doctores y Personal Medico
                                </a>
                            </div>
                        </div>

                    </li>

                </ul>
            </div>
        </div>

        @if (Session["User"] == null)
        {
            <div class="dropdown">
                <partial name="_LoginPartial" />
                <a href="@Url.Action("LoginV", "Login")">
                    Login
                </a>
            </div>
        }
        else
        {
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item2">
            <div class="dropdown">
                <a>
                   @Session["Nombre"] @Session["Apellido"]
                </a>
                <div class="dropdown-content">
                    <a class="nav-link text-dark" href="@Url.Action("miperfil", "UsuariosPersonal", new {  id=Session["id"] })">
                        Mi perfil
                    </a>
                    <a class="nav-link text-dark" href="@Url.Content("~/Login/Salir")">Salir</a>
                </div>
            </div>

        </li>
    </ul>
        }
        &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;
    </nav>
        }
        else if (Session["Rol"].Equals(4))
        {
            //Logeado administrador
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;
        <a class="navbar-brand2" href="@Url.Action("Index", "Home")">

            <img src="~/Content/Images/Datanetsv.png" class="imglogo" />
            Bienvenidos

        </a>
        <div class="container">


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <div class="dropdown">
                            <a>
                                Informacion General
                                <img src="~/Content/Images/infogeneral.png" class="imgicono" />
                            </a>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Sintomas")">
                                    Sintomas
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Enfermedades")">
                                    Enfermedades
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Alergias")">
                                    Alergias
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Cirugias")">
                                    Cirugias
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Fracturas")">
                                    Fracturas
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a>
                                Usuarios
                                <img src="~/Content/Images/avatar-usuario-m.png" class="imgiconoavatar" />
                            </a>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Usuarios")">
                                    Pacientes
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "UsuariosPersonal")">
                                    Personal
                                </a>
                            </div>
                    </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a>
                                Departamentos
                                <img src="~/Content/Images/depamedico.png" class="imgiconodepamedico" />
                            </a>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Areas")">
                                    Areas
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Departamento")">

                                    Departamentos
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Consultorios")">

                                    Consultorios
                                </a>
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Direccion")">

                                    Direcciones
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link text-dark" href="@Url.Action("Index", "Medicamentos")">
                                Medicamentos
                                <img src="~/Content/Images/medicamentos.png" class="imgicono" />

                            </a>
                        </div>
                    </li>


                </ul>
            </div>
        </div>



        @if (Session["User"] == null)
        {
            <div class="dropdown">
                <partial name="_LoginPartial" />
                <a href="@Url.Action("LoginV", "Login")">
                    Login
                </a>
            </div>
        }
        else
        {
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item2">
            <div class="dropdown">
                <a>
                    @Session["Nombre"] @Session["Apellido"]
                </a>
                <div class="dropdown-content">
                    <a class="nav-link text-dark" href="@Url.Action("miperfil", "UsuariosPersonal", new {  id=Session["id"] })">
                        Mi perfil
                    </a>
                    <a class="nav-link text-dark" href="@Url.Content("~/Login/Salir")">Salir</a>
                </div>
            </div>

        </li>
    </ul>
        }
        &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;
    </nav>

        }




    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SistemaClinico - Desarrollado por - <a href="@Url.Action("Datanetsv", "Home")">DatanetSV</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
