@model SistemaClinico.Models.Area

@{
    ViewBag.Title = "Delete";
}

<div class="titulo_general"><h1>Areas</h1></div>

<h3>¿Está seguro de eliminar esta área?</h3>
<div>
    @*<h4>Area</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre Area")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_AREA)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @*<div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>*@



        <table align="center">
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Borrar Area" class="btn btn-success" />
                        </div>
                    </div>
                </td>
                <td>&nbsp;  &nbsp; &nbsp;  &nbsp;</td>
                <td>
                    <div div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input onclick="location.href='@Url.Action("Index", "Areas")'" type="button" value="Volver" class="btn btn-finalizar" />
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    }
</div>
