@*@model IEnumerable<SistemaClinico.Models.Area>*@
@model IPagedList<SistemaClinico.Models.Area>

@{
    ViewBag.Title = "Index";
}
@using PagedList;
@using PagedList.Mvc;
@using SistemaClinico.Controllers;

<div class="titulo_general"><h1>Areas</h1></div>

<p>
    A continuación se muestran las distintas áreas que dividen al centro médico.
</p>

<p>
    @Html.ActionLink("Nueva Area", "Create")
</p>

<p class="rounded">
    Nombre: @Html.TextBox("BuscarNombre")

    <input type="submit" value="Buscar" />
</p>

<table class="table_lista">
    <tr class="tr_lista">
        @*<th class="th_lista">
            @Html.DisplayNameFor(model => model.First().ID)
        </th>*@
        <th class="th_lista">
            @Html.DisplayName("Nombre Area")
        </th>
        <th class="th_lista">
            @Html.DisplayName("Acciones")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="tr_lista">
            @*<td class="td_lista">
                @Html.DisplayFor(modelItem => item.ID)
            </td>*@
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.NOMBRE_AREA)
            </td>
            <td class="td_lista">
                @Html.ActionLink("Editar", "Edit", new { id = item.ID}) 
                @*@Html.ActionLink("Details", "Details", new { id = item.ID}) |*@
                @*@Html.ActionLink("Eliminar", "Delete", new { id = item.ID})*@
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, i => Url.Action("Index", "Areas", new { i, search = Request.QueryString["search"] }))
