@model SistemaClinico.Models.Tratamiento
@using SistemaClinico.Controllers;
@using System.Data;
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "AgregarT";
}

<div class="titulo_general"><h1>Tratamientos</h1></div>



@using (Html.BeginForm())
{
    <div class="titulo_general">
        <h2>Agregando Tratamiento al paciente: @ViewData["nombrep"] </h2>
    </div>

    <div class="form-horizontal">
        <hr />


        <div class="form-group">
            @Html.Label("Medicamentos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.DropDownList("ID_MEDICAMENTO", (IEnumerable<SelectListItem>)@ViewData["ListaMedicamento"], "Seleccione un Medicamento", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_MEDICAMENTO, "", new { @class = "text-danger" })
                @if (TempData["UserMessage"] != null)
                {
                    var message = TempData["UserMessage"];
                    <div class="text-danger">
                        @*<strong>@message</strong>*@
                        @message
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ciclo de consumo ", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.CICLO_CONSUMO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CICLO_CONSUMO, "", new { @class = "text-danger" })
            </div>
        </div>


        <table align="center">
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Agregar Tratamiento" class="btn btn-success" />
                        </div>
                    </div>
                </td>
                <td>&nbsp;  &nbsp; &nbsp;  &nbsp;</td>
                <td>
                    <div div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input onclick="location.href='@Url.Action("InformacionMedica", "Usuarios", new { id = @ViewData["idpaciente"]})'" type="button" value="Finalizar" class="btn btn-finalizar" />
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>
    <h2>Tratamientos Agregados:</h2>
    <div class="lista-sintoEnf">

        <div class="col-md-10">

            @Html.ListBox("IDs", (IEnumerable<SelectListItem>)@ViewData["ListaTratamientoID"], htmlAttributes: new { @class = "form-control" })


        </div>
    </div>







}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
