@model SistemaClinico.Models.UsuarioMunicipio

@{
    ViewBag.Title = "Delete";
}

<div class="titulo_general"><h1>Pacientes</h1></div>
<br />

<h3>¿Está seguro de borrar este paciente?</h3>
<div>
    @*<h4>UsuarioMunicipio</h4>*@
    <hr />
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_PACIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_PACIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MUNICIPIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MUNICIPIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION_COM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION_COM)
        </dd>

    </dl>*@

    <table class="table_lista">
        <tr class="tr_lista">
            <th class="th_lista">@Html.DisplayName("Nombre ")</th>
            <th class="th_lista">@Html.DisplayName("Apellido ")</th>
            <th class="th_lista">@Html.DisplayName("Teléfono ")</th>
            <th class="th_lista">@Html.DisplayName("Municipio ")</th>
            <th class="th_lista">@Html.DisplayName("Dirección de residencia")</th>
        </tr>
        <tr class="tr_lista">
            <td class="td_lista">@Html.DisplayFor(model => model.NOMBRE)</td>
            <td class="td_lista">@Html.DisplayFor(model => model.APELLIDO)</td>
            <td class="td_lista">@Html.DisplayFor(model => model.TELEFONO)</td>
            <td class="td_lista">@Html.DisplayFor(model => model.MUNICIPIO)</td>
            <td class="td_lista">@Html.DisplayFor(model => model.DIRECCION_COM)</td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @*<div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>*@

        <table align="center">
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Borrar Paciente" class="btn btn-success" />
                        </div>
                    </div>
                </td>
                <td>&nbsp;  &nbsp; &nbsp;  &nbsp;</td>
                <td>
                    <div div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input onclick="location.href='@Url.Action("Index", "Usuarios")'" type="button" value="Volver" class="btn btn-finalizar" />
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    }
</div>
