@*@model IEnumerable<SistemaClinico.Models.UsuarioMunicipio>*@
@model IPagedList<SistemaClinico.Models.UsuarioMunicipio>


@{
    ViewBag.Title = "Index";
}
@using PagedList;
@using PagedList.Mvc;
@using SistemaClinico.Controllers;



@*<p>
        <a class="nav-link text-dark" href="@Url.Action("Create", "Registro")">Nuevo </a>
    </p>*@
<div class="titulo_general"><h1>Lista de Pacientes</h1></div>
<br />
<br />

@using (Html.BeginForm("Index", "Usuarios", FormMethod.Get))
{


    @*<p class="buscador">
            Nombre: @Html.TextBox("BuscarNombre", "", new { @class = "busca" })

            <input type="submit" value="Buscar" />
        </p>*@

    <div class="box">
        <div class="container-4">
            <input type="search" id="BuscarNombre" name="BuscarNombre" placeholder="¿A quién buscas?" />
            <button type="submit" class="icon"><i class="fa fa-search"></i></button>
        </div>
    </div>


}

<p>
    @Html.ActionLink("Crear nuevo Paciente", "Create")
</p>
<br />
<br />
<br />

<table id="table_id" class="table_lista">
    <tr class="tr_lista">
        @*<th>
                @Html.DisplayNameFor(model => model.ID_PACIENTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_DIRECCION)
            </th>*@
        <th class="th_lista">
            @*@Html.DisplayNameFor(model => model.NOMBRE)*@
            Nombres
        </th>
        <th class="th_lista">
            @*@Html.DisplayNameFor(model => model.APELLIDO)*@
            Apellidos
        </th>
        <th class="th_lista">
            @*@Html.DisplayNameFor(model => model.TELEFONO)*@
            Telefono
        </th>
        <th class="th_lista">
            @*@Html.DisplayNameFor(model => model.MUNICIPIO)*@
            Dirección completa
        </th>
        <th class="th_lista">Opciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="tr_lista">
            @*<td>
                    @Html.DisplayFor(modelItem => item.ID_PACIENTE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_DIRECCION)
                </td>*@
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.APELLIDO)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.TELEFONO)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.DIRECCION_COM),
                @Html.DisplayFor(modelItem => item.MUNICIPIO)

            </td>
            <td class="td_lista">
                @Html.ActionLink("Editar", "Edit", new { id = item.ID_PACIENTE }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ID_PACIENTE })
                @*@Html.ActionLink("Borrar", "Delete", new { id = item.ID_PACIENTE })*@
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, i => Url.Action("Index", "Usuarios", new { i, search = Request.QueryString["search"] }))
<br />
<br />
<table align="center">
    <tr>
        <td>
            <div div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input onclick="location.href='@Url.Action("Index", "Home")'" type="button" value="Volver" class="btn btn-finalizar" />
                </div>
            </div>
        </td>
    </tr>
</table>