@model SistemaClinico.Models.RegistroPacienteUsuario

@{
    ViewBag.Title = "InformacionMedica";
}

<h2>InformacionMedica</h2>

<div>
    <h4>RegistroPacienteUsuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DUI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DUI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_SANGRE)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_SANGRE)
        </dd>

        <dt>
            @Html.DisplayName("Tratamientos actuales ")

        </dt>

        <dd>
            @Html.ListBox("ID", (IEnumerable<SelectListItem>)ViewData["ListaTratamiento"], htmlAttributes: new { @class = "form-control" })
            @Html.ActionLink("Agregar Tratamiento", "agregarT", new { id = Model.id })
        </dd>

        <dt>
            @Html.DisplayName("Fracturas que posee ")

        </dt>

        <dd>
            @Html.ListBox("ID", (IEnumerable<SelectListItem>)ViewData["ListaFracturas"], htmlAttributes: new { @class = "form-control" })
            @Html.ActionLink("Agregar Fractura", "agregarF", new { id = Model.id })

        </dd>

        <dt>
            @Html.DisplayName("Cirugias que posee ")

        </dt>

        <dd>
            @Html.ListBox("ID", (IEnumerable<SelectListItem>)ViewData["ListaCirugias"], htmlAttributes: new { @class = "form-control" })
            @Html.ActionLink("Agregar Cirugia", "agregarC", new { id = Model.id })

        </dd>
        <dt>
            @Html.DisplayName("Enfermedades que posee ")

        </dt>

        <dd>
            @Html.ListBox("id", (IEnumerable<SelectListItem>)ViewData["ListaEnfermedades"], htmlAttributes: new { @class = "form-control" })
            @Html.ActionLink("Agregar Enfermedad", "agregarE", new { id = Model.id })

        </dd>
        <dt>
            @Html.DisplayName("Alergias que posee ")

        </dt>

        <dd>
            @Html.ListBox("ID", (IEnumerable<SelectListItem>)ViewData["ListaAlergias"], htmlAttributes: new { @class = "form-control" })
            @Html.ActionLink("Agregar Alergias", "agregarA", new { id = Model.id })

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
