@model SistemaClinico.Models.RegistroPacienteUsuario

@{
    ViewBag.Title = "InformacionMedica";
}

<div class="titulo_general"><h1>Información Médica</h1></div>

<hr />

<table align="center" width="100%">
    <tr>
        <td width="50%">

            <div class="titulo_general">
                <h4>Datos Personales</h4>
            </div>
            <br />

            <div class="form-group">
                @Html.Label("Paciente ", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.Editor("paciente", new { htmlAttributes = new { @class = "form-control", @value = ViewData["paciente"].ToString(), disabled = "disabled" } })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("DUI ", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.DUI, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                </div>
            </div>
            <div class="form-group">
                @Html.Label("Sangre tipo", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.TIPO_SANGRE, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                </div>
            </div>

        </td>
        <td width="50%">



            <div class="titulo_general">
                <h4>Cirugías Registradas</h4>
            </div>
            <br />

            <div class="form-group">
                @Html.Label("   ", htmlAttributes: new { @class = "control-label col-md-3" })

                <div class="col-md-9">
                    @Html.ListBox("ID", (IEnumerable<SelectListItem>)ViewData["ListaCirugias"], htmlAttributes: new { @class = "form-control" })
                    <br />
                    @if (Session["Rol"] == null)
                    {


                    }
                    else if (Session["Rol"].Equals(3))
                    {
                        <table align="center">
                            <tr>
                                <td>
                                    <div div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input onclick="location.href='@Url.Action("agregarC", "Usuarios", new { id = Model.id })'" type="button" value="Agregar Cirugía" class="btn btn-success" />

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </div>


        </td>
    </tr>
    <tr>

        <td width="50%">
            <hr />
            <div class="titulo_general">
                <h4>Padecimientos</h4>
            </div>
            <br />

            <div class="form-group">
                @Html.Label("   ", htmlAttributes: new { @class = "control-label col-md-3" })

                <div class="col-md-9">
                    @Html.ListBox("id", (IEnumerable<SelectListItem>)ViewData["ListaEnfermedades"], htmlAttributes: new { @class = "form-control" })
                    @*@Html.ActionLink("Agregar Enfermedad", "agregarE", new { id = Model.id })*@
                    <br />@if (Session["Rol"] == null)
                    {


                    }
                    else if (Session["Rol"].Equals(3))
                    {
                        <table align="center">
                            <tr>
                                <td>
                                    <div div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input onclick="location.href='@Url.Action("agregarE", "Usuarios", new { id = Model.id })'" type="button" value="Agregar Enfermedad" class="btn btn-success" />

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </div>


        </td>
        <td width="50%">
            <hr />
            <div class="titulo_general">
                <h4>Alergias Registradas</h4>
            </div>
            <br />

            <div class="form-group">
                @Html.Label("   ", htmlAttributes: new { @class = "control-label col-md-3" })

                <div class="col-md-9">
                    @Html.ListBox("ID", (IEnumerable<SelectListItem>)ViewData["ListaAlergias"], htmlAttributes: new { @class = "form-control" })
                    @*@Html.ActionLink("Agregar Alergias", "agregarA", new { id = Model.id })*@
                    <br />
                    @if (Session["Rol"] == null)
                    {


                    }
                    else if (Session["Rol"].Equals(3))
                    {
                        <table align="center">
                            <tr>
                                <td>
                                    <div div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input onclick="location.href='@Url.Action("agregarA", "Usuarios", new { id = Model.id })'" type="button" value="Agregar Alergia" class="btn btn-success" />

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </div>


        </td>


    </tr>
    <tr>
        <td width="50%">

            <hr />
            <div class="titulo_general">
                <h4>Tratamientos Seguidos</h4>
            </div>
            <br />

            <div class="form-group">
                @Html.Label("   ", htmlAttributes: new { @class = "control-label col-md-3" })

                <div class="col-md-9">
                    @Html.ListBox("ID", (IEnumerable<SelectListItem>)ViewData["ListaTratamiento"], htmlAttributes: new { @class = "form-control" })
                    @*@Html.ActionLink("Agregar Tratamiento", "agregarT", new { id = Model.id })*@
                    <br />
                    @if (Session["Rol"] == null)
                    {


                    }
                    else if (Session["Rol"].Equals(3))
                    {
                        <table align="center">
                            <tr>
                                <td>
                                    <div div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input onclick="location.href='@Url.Action("agregarT", "Usuarios", new { id = Model.id })'" type="button" value="Agregar Tratamiento" class="btn btn-success" />

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </div>
        </td>
        <td width="50%">
            <hr />
            <div class="titulo_general">
                <h4>Fracturas</h4>
            </div>
            <br />

            <div class="form-group">
                @Html.Label("   ", htmlAttributes: new { @class = "control-label col-md-3" })

                <div class="col-md-9">
                    @Html.ListBox("ID", (IEnumerable<SelectListItem>)ViewData["ListaFracturas"], htmlAttributes: new { @class = "form-control" })
                    @*@Html.ActionLink("Agregar Fractura", "agregarF", new { id = Model.id })*@
                    <br />
                    @if (Session["Rol"] == null)
                    {


                    }
                    else if (Session["Rol"].Equals(3))
                    {
                        <table align="center">
                            <tr>
                                <td>
                                    <div div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input onclick="location.href='@Url.Action("agregarF", "Usuarios", new { id = Model.id })'" type="button" value="Agregar Fractura" class="btn btn-success" />

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </div>
        </td>

    </tr>
</table>
<hr />
@if (Session["Rol"] == null)
{


}
else if (Session["Rol"].Equals(3))
{
    <table align="center">
        <tr>
            <td>

                <div div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input onclick="location.href='@Url.Action("IndexPacientesAgregar", "Usuarios")'" type="button" value="Volver" class="btn btn-finalizar" />

                    </div>
                </div>
            </td>
        </tr>
    </table>
}
else if (Session["Rol"].Equals(1))
{
    <table align="center">
        <tr>
            <td>

                <div div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input onclick="location.href='@Url.Action("Index", "Home")'" type="button" value="Volver" class="btn btn-finalizar" />

                    </div>
                </div>
            </td>
        </tr>
    </table>
}
<br />

@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@



