@*@model IEnumerable<SistemaClinico.Models.ConsultaPac>*@
@model IPagedList<SistemaClinico.Models.ConsultaPac>
@using PagedList;
@using PagedList.Mvc;


@if (TempData["UserMessage"] != null)
{
    var message = TempData["UserMessage"];
    <div class="text-danger">
        @*<strong>@message</strong>*@
        @message
    </div>
}
<div class="titulo_general"><h1>Prescripciones </h1></div>
<br />
<br />

<table id="table_id" class="table_lista">
    <tr class="tr_lista">
        <th class="th_lista">
            @Html.DisplayName("Paciente ")

        </th>
        <th class="th_lista">
            @Html.DisplayName("Doctor ")
        </th>
        <th class="th_lista">
            @Html.DisplayName("Fecha ")
        </th>
        <th class="th_lista">
            @Html.DisplayName("Hora ")
        </th>
        <th class="th_lista">
            @Html.DisplayName("Tipo Cita ")
        </th>
        <th class="th_lista">
            @Html.DisplayName("Opciones ")

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="tr_lista">

            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.NOMBRE)

                @Html.DisplayFor(modelItem => item.APELLIDO)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.NOMBRES)

                @Html.DisplayFor(modelItem => item.APELLIDOS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHA)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.HORA)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.TIPO_CITA)
            </td>
            <td class="td_lista">

                @Html.ActionLink("Detalles", "PrescripcionDetalle", new { idconsulta = item.ID_CONSULTA, idpaciente = item.ID_PACIENTE })

            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, i => Url.Action("ListadoPrescripcionPaciente", "Usuarios", new { i, search = Request.QueryString["search"] }))