@*@model IEnumerable<SistemaClinico.Models.ConsultaPac>*@
@model IPagedList<SistemaClinico.Models.ConsultaPac>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "ListadoConsultasConstancia";
}


<div class="titulo_general"><h1>Constancias</h1></div>
<br />
<br />

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr class="tr_lista">

        <th class="th_lista">
            @Html.DisplayName("Paciente ")

        </th>
        <th class="th_lista">
            @Html.DisplayName("Doctor ")
        </th>
        <th class="th_lista">
            @Html.DisplayName("Fecha ")
        </th>
        <th class="th_lista">
            @Html.DisplayName("Hora ")
        </th>
        <th class="th_lista">
            @Html.DisplayName("Tipo Cita ")
        </th>
        <th class="th_lista">
            @Html.DisplayName("Opciones ")

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="tr_lista">

            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.NOMBRE)

                @Html.DisplayFor(modelItem => item.APELLIDO)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.NOMBRES)

                @Html.DisplayFor(modelItem => item.APELLIDOS)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.FECHA)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.HORA)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.TIPO_CITA)
            </td>
            <td class="td_lista">
                @Html.ActionLink("Detalles", "ConstanciaDetalle", new { idconsulta = item.ID_CONSULTA })
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, i => Url.Action("ListadoConsultasConstancia", "Usuarios", new { i, search = Request.QueryString["search"] }))