@*@model IEnumerable<SistemaClinico.Models.Cirugias>*@
@model IPagedList<SistemaClinico.Models.Cirugias>
@{
    ViewBag.Title = "Index";
}
@using PagedList;
@using PagedList.Mvc;
@using SistemaClinico.Controllers;
<div class="titulo_general"><h1>Cirugías</h1></div>
<br />
<br />

@using (Html.BeginForm("Index", "Cirugias", FormMethod.Get))
{
    <div class="box">
        <div class="container-4">
            <input type="search" id="BuscarNombre" name="BuscarNombre" placeholder="Buscar una cirugía" />
            <button type="submit" class="icon"><i class="fa fa-search"></i></button>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Nueva Cirugía", "Create")
</p>
<br />
<br />
<br />

<table class="table_lista">
    <tr class="tr_lista">
        <th class="th_lista">
            @Html.DisplayName("Nombre")
        </th>
        <th class="th_lista">
            @Html.DisplayName("Descripción")
        </th>
        <th class="th_lista">
            @Html.DisplayName("Opciones")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="tr_lista">
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.NOMBRE_CIRUGIA)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.DESCRIPCION)
            </td>
            <td class="td_lista">
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, i => Url.Action("Index", "Cirugias", new { i, search = Request.QueryString["search"] }))
