@model SistemaClinico.Models.Medicamento

@{
    ViewBag.Title = "Details";
}

<div class="titulo_general"><h1>Medicamentos</h1></div>

<div>
    <h4>Detalle de características de medicamentos registrados en el sistema</h4>
    <hr />
    <table class="table_lista">
        <tr class="tr_lista">
            <th class="th_lista">
                @Html.DisplayName("Nombre")
            </th>
            <th class="th_lista">
                @Html.DisplayName("Descripción")
            </th>
            <th class="th_lista">
                @Html.DisplayName("Cantidad ")
            </th>
            <th class="th_lista">
                @Html.DisplayName("Presentación")
            </th>
            <th class="th_lista">
                @Html.DisplayName("Precio Unitario")
            </th>
            <th class="th_lista">
                @Html.DisplayName("Estado ")
            </th>
        </tr>
        <tr class="tr_lista">
            <td class="td_lista">
                @Html.DisplayFor(model => model.NOMBRE_MEDICAMENTO)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(model => model.DESCRIPCION_MEDICAMENTO)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(model => model.CANTIDAD)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(model => model.PRESENTACION)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(model => model.PRECIO_UNITARIO)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(model => model.ESTADO)
            </td>
        </tr>

    </table>
</div>




@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
<table align="center">
    <tr>
        <td>
            <div div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input onclick="location.href='@Url.Action("Index", "Medicamentos")'" type="button" value="Volver" class="btn btn-finalizar" />
                </div>
            </div>
        </td>
    </tr>
</table>