@*@model IEnumerable<SistemaClinico.Models.Medicamento>*@
@model IPagedList<SistemaClinico.Models.Medicamento>
@{
    ViewBag.Title = "Index";
}
@using PagedList;
@using PagedList.Mvc;
@using SistemaClinico.Controllers;
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.nombre_medicamento)*@
            NOmbre
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.descripcion_medicamento)*@
            Descripcion
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.catidad)*@
            cantidad
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.presentacion)*@
            presentacion
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.precio)*@
            precio
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.estado)*@
            estado
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE_MEDICAMENTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPCION_MEDICAMENTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CANTIDAD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRESENTACION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRECIO_UNITARIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESTADO)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, i => Url.Action("Index", "Medicamentos", new { i, search = Request.QueryString["search"] }))
