@*@model IEnumerable<SistemaClinico.Models.Medicamento>*@
@model IPagedList<SistemaClinico.Models.Medicamento>
@{
    ViewBag.Title = "Index";
}
@using PagedList;
@using PagedList.Mvc;
@using SistemaClinico.Controllers;
<div class="titulo_general"><h1>Medicamentos</h1></div>
<br />
@using (Html.BeginForm("Index", "Medicamentos", FormMethod.Get))
{

    <div class="filtro">
        @*Nombre: @Html.TextBox("BuscarActivo", value: "ACTIVO")*@
        @*@Html.DropDownList("BuscarActivo", (IEnumerable<SelectListItem>)@ViewData["chompipollo"], "Seleccione un Sintoma")*@
        @Html.DropDownList("BuscarTipo", (IEnumerable<SelectListItem>)@ViewData["listaTipo"], "-- Tipo Medicamento --", new { @class = "select-css" })
        <button type="submit" class="icon"><i class="fa fa-search"></i></button>
        @*<input type="submit" value="Filtrar" />*@
    </div>
}
<p>
    @Html.ActionLink("Crear Nuevo Medicamento", "Create")
</p>
<table id="table_id" class="table_lista">
    <tr class="tr_lista">
        <th class="th_lista">
            @*@Html.DisplayNameFor(model => model.nombre_medicamento)*@
            Nombre
        </th>
        <!--<th class="th_lista">-->
        @*@Html.DisplayNameFor(model => model.descripcion_medicamento)*@
        <!--Descripción
        </th>
        <th class="th_lista">-->
        @*@Html.DisplayNameFor(model => model.catidad)*@
        <!--Cantidad
        </th>-->
        <th class="th_lista">
            @*@Html.DisplayNameFor(model => model.presentacion)*@
            Presentación
        </th>
        <th class="th_lista">
            @*@Html.DisplayNameFor(model => model.precio)*@
            Precio
        </th>
        <!--<th class="th_lista">-->
        @*@Html.DisplayNameFor(model => model.estado)*@
        <!--Estado
        </th>-->
        <th class="th_lista">
            @*@Html.DisplayNameFor(model => model.estado)*@
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="tr_lista">
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.NOMBRE_MEDICAMENTO)
            </td>
            @*<td class="td_lista">
                    @Html.DisplayFor(modelItem => item.DESCRIPCION_MEDICAMENTO)
                </td>
                <td class="td_lista">
                    @Html.DisplayFor(modelItem => item.CANTIDAD)
                </td>*@
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.PRESENTACION)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.PRECIO_UNITARIO)
            </td>
            @*<td class="td_lista">
                    @Html.DisplayFor(modelItem => item.ESTADO)
                </td>*@
            <td class="td_lista">
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, i => Url.Action("Index", "Medicamentos", new { i, search = Request.QueryString["search"] }))
