@model SistemaClinico.Models.Departamento

@{
    ViewBag.Title = "Inactivo";
}

<div class="titulo_general"><h1>Departamentos</h1></div>

<h3>¿Está seguro de dar de baja este departamento?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_DEPARTAMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_DEPARTAMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_AREA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_AREA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @*<div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>*@

        <table align="center">
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Deasctivar Departamento" class="btn btn-success" />
                        </div>
                    </div>
                </td>
                <td>&nbsp;  &nbsp; &nbsp;  &nbsp;</td>
                <td>
                    <div div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input onclick="location.href='@Url.Action("Index", "Departamento")'" type="button" value="Volver" class="btn btn-finalizar" />
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    }
</div>
