@model IEnumerable<SistemaClinico.Models.Departamento>

@{
    ViewBag.Title = "Index";
}

<div class="titulo_general"><h1>Departamentos</h1></div>

<p>
    @Html.ActionLink("Nuevo Departamento", "Create")
</p>
<table class="table_lista">
    <tr class="tr_lista">
        <th class="th_lista">
            @Html.DisplayName("Nombre Departamento")
        </th>
        <th th class="th_lista">
            @Html.DisplayName("Descripción")
        </th>
        <th class="th_lista">
            @Html.DisplayName("Estado")
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ID_AREA)
        </th>*@
        <th class="th_lista">
            @Html.DisplayName("Area")
        </th>
        <th class="th_lista">
            @Html.DisplayName("Acciones")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="tr_lista">
        <td  class="td_lista">
            @Html.DisplayFor(modelItem => item.NOMBRE_DEPARTAMENTO)
        </td>
        <td  class="td_lista">
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td  class="td_lista">
            @Html.DisplayFor(modelItem => item.ESTADO)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ID_AREA)
        </td>*@
        <td class="td_lista">
            @Html.DisplayFor(modelItem => item.NOM)
        </td>
        <td class="td_lista">
            @Html.ActionLink("Eitar", "Edit", new { id=item.ID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
            @Html.ActionLink("Borrar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
