@model IPagedList<SistemaClinico.Models.Departamento>

@{
    ViewBag.Title = "Index";
}
@using PagedList;
@using PagedList.Mvc;
@using SistemaClinico.Controllers;
<div class="titulo_general"><h1>Departamentos</h1></div>
@using (Html.BeginForm("Index", "Departamento", FormMethod.Get))
{


    <div class="filtro">
        @*Nombre: @Html.TextBox("BuscarActivo", value: "ACTIVO")*@
        @*@Html.DropDownList("BuscarActivo", (IEnumerable<SelectListItem>)@ViewData["chompipollo"], "Seleccione un Sintoma")*@
        @Html.DropDownList("BuscarActivo", (IEnumerable<SelectListItem>)@ViewData["listaEstado"], "-- Estatus--", new { @class = "select-css" })
        <button type="submit" class="icon"><i class="fa fa-search"></i></button>
        @*<input type="submit" value="Filtrar" />*@
    </div>


}
@if (Session["Rol"] == null || Session["Rol"].Equals(1) || Session["Rol"].Equals(2) || Session["Rol"].Equals(3))
{

}
else
{
    <p>
        @Html.ActionLink("Nuevo Departamento", "Create")
    </p>
}
<br />
<br />
<table class="table_lista">
    <tr class="tr_lista">
        <th class="th_lista">
            @Html.DisplayName("Nombre Departamento")
        </th>
        <th th class="th_lista">
            @Html.DisplayName("Descripción")
        </th>
        <th class="th_lista">
            @Html.DisplayName("Estado")
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ID_AREA)
            </th>*@
        <th class="th_lista">
            @Html.DisplayName("Area")
        </th>
        @if (Session["Rol"] == null || Session["Rol"].Equals(1) || Session["Rol"].Equals(2) || Session["Rol"].Equals(3))
        {

        }
        else
        {
            <th class="th_lista">
                @Html.DisplayName("Acciones")
            </th>
        }

    </tr>

    @foreach (var item in Model)
    {
        <tr class="tr_lista">
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.NOMBRE_DEPARTAMENTO)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.DESCRIPCION)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.ESTADO)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ID_AREA)
                </td>*@
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.NOM)
            </td>
            @if (Session["Rol"] == null || Session["Rol"].Equals(1) || Session["Rol"].Equals(2) || Session["Rol"].Equals(3))
            {

            }
            else
            {
                <td class="td_lista">
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID })
                    @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
                    @*@Html.ActionLink("Inactivar", "Inactivo", new { id = item.ID })*@
                </td>
            }


        </tr>
    }

</table>
@Html.PagedListPager(Model, i => Url.Action("Index", "Departamento", new { i, search = Request.QueryString["search"] }))