@*@model IEnumerable<SistemaClinico.Models.Enfermedad>*@
@model IPagedList<SistemaClinico.Models.Enfermedad>

@{
    ViewBag.Title = "Index";
}
@using PagedList;
@using PagedList.Mvc;
@using SistemaClinico.Controllers;

<div class="titulo_general"><h1>Enfermedades</h1></div>
<div class="titulo_alerta">
    <h2>Tomar en cuenta <img class="" src="~/Content/Images/icono-alerta2.png" height="50" width="50" /></h2>
</div>

<div class="contenido_sintomas">

    <table align="center" WIDTH="90%">
        <tr>
            <td>
                <p>
                    La salud y la enfermedad son parte integral de la vida, del proceso biológico y de las interacciones
                    medio ambientales y sociales. Generalmente, se entiende a la enfermedad como la pérdida de la salud, cuyo
                    efecto negativo es consecuencia de una alteración estructural o funcional de un órgano a cualquier nivel.
                    <br />
                    <br />
                    La experiencia de enfermedad es la vivencia de un proceso que implica cambios o modificaciones de un estado previo. Se divide en cinco etapas:
                    <br />
                    <div class="listado">
                        <ol>
                            <li type="disc">Fase I, en la que se experimenta el síntoma.</li>
                            <li type="disc">Fase I, en la que se experimenta el síntoma.</li>
                            <li type="disc">Fase II, en la que se asume el papel de enfermo.</li>
                            <li type="disc">Fase III, en la que se toma contacto con el agente de salud.</li>
                            <li type="disc">Fase IV, en la que el enfermo se hace dependiente del servicio de salud.</li>
                            <li type="disc">Fase V, en la que tiene lugar la rehabilitación o recuperación o aceptación del estado de enfermedad si este es crónico.</li>

                        </ol>
                       
                    </div>
                    

                </p>
            </td>
            <td>
                <img class="" src="~/Content/Images/ilustracion-enfermedades.png" height="225" width="325" />

            </td>
        </tr>

    </table>

</div>
<br />
<br />

@using (Html.BeginForm("Index", "Enfermedades", FormMethod.Get))
{


    @*<p class="buscador">
            Nombre: @Html.TextBox("BuscarNombre", "", new { @class = "busca" })

            <input type="submit" value="Buscar" />
        </p>*@

    <div class="box">
        <div class="container-4">
            <input type="search" id="BuscarNombre" name="BuscarNombre" placeholder="¿Que enfermedad buscas?" />
            <button type="submit" class="icon"><i class="fa fa-search"></i></button>
        </div>
    </div>


}
<br />
<br />
<br />

@if (Session["Rol"] == null || Session["Rol"].Equals(1) || Session["Rol"].Equals(2) || Session["Rol"].Equals(3))
{

}
else
{
    <p>
        @Html.ActionLink("Nueva Enfermedad", "Create")
    </p>
    <p>
        @Html.ActionLink("Reporte Sintoma", "Reporte2")
    </p>
}
<table id="table_id" class="table_lista">
    <tr class="tr_lista">
        <th class="th_lista">
            @*@Html.DisplayNameFor(model => model.First().nombre_enfermedad)*@
            Enfermedad
        </th>
        <th class="th_lista">
            Descripción
            @*@Html.DisplayNameFor(model => model.First().descripcion)*@
        </th>
        @if (Session["Rol"] == null || Session["Rol"].Equals(1) || Session["Rol"].Equals(2) || Session["Rol"].Equals(3))
        {
            // @Url.Action("Index", "Home");
            // @Response.Redirect("~/Views/Home/Index", true);

        }
        else
        {
            <th class="th_lista"> Opciones</th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr class="tr_lista">
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.nombre_enfermedad)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            @if (Session["Rol"] == null || Session["Rol"].Equals(1) || Session["Rol"].Equals(2) || Session["Rol"].Equals(3))
            {
                // @Url.Action("Index", "Home");
                // @Response.Redirect("~/Views/Home/Index", true);
            }
            else
            {
                <td class="td_lista">
                    <table align="center">
                        <tr>
                            <td>
                                @Html.ActionLink("Detalles", "Details", new { id = item.id })
                                <br>
                            </td>
                            <td>
                                &nbsp;-&nbsp;
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.id })
                                <br>
                            </td>
                            <td>
                                &nbsp;-&nbsp;
                            </td>
                            <td>
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    </table>
                </td>
            }
        </tr>
    }

</table>

@Html.PagedListPager(Model, i => Url.Action("Index", "Enfermedades", new { i, search = Request.QueryString["search"] }))
