@model SistemaClinico.Models.CitasPaciente

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="titulo_general"><h1>Detalle Cita Pendiente</h1></div>
    <div class="form-horizontal">
        @*<h4>Solicitud de Citas</h4>*@

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <table align="center">
            <tr>
                <td width="50%">
                    <hr />
                    <div class="titulo_general">
                        <h4>Datos del Paciente</h4>
                    </div>
                    <br />

                    <div class="form-group">
                        @Html.Label("Nombre ", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.Editor("NOMBRE", new { htmlAttributes = new { @class = "form-control", @value = ViewData["NOMBRE"].ToString(), disabled = "" } })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Telefono ", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.Editor("TELEFONO", new { htmlAttributes = new { @class = "form-control", @value = ViewData["TELEFONO"].ToString(), disabled = "" } })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Correo ", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.Editor("CORREO", new { htmlAttributes = new { @class = "form-control", @value = ViewData["CORREO"].ToString(), disabled = "" } })

                        </div>
                    </div>
                </td>

                @*<td></td>*@

                <td width="50%">
                    <hr />
                    <div class="titulo_general">
                        <h4>Datos de la cita</h4>
                    </div>
                    <br />

                    <div class="form-group">
                        @Html.Label("Tipo de Cita ", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.TIPO_CITA,
                                      (IEnumerable<SelectListItem>)ViewData["listaTipo"],
                                      "Seleccione el tipo de cita que necesita", htmlAttributes: new { @class = "form-control", disabled = "" })
                            @Html.ValidationMessageFor(model => model.TIPO_CITA, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Departamento ", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("ID_DEPARTAMENTO",
                                      (IEnumerable<SelectListItem>)ViewData["ListaNombreDeptos"],
                                      "Seleccione el Departamento donde desea ser atendido", htmlAttributes: new { @class = "form-control", disabled = "" })
                            @Html.ValidationMessageFor(model => model.ID_DEPARTAMENTO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Descripcion ", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control", disabled = "" } })
                            @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-md-5">
                                @Html.Hidden("espacio", new { htmlAttributes = new { @class = "form-control", @value = "", disabled = "" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                @Html.Hidden("espacio2", new { htmlAttributes = new { @class = "form-control", @value = "", disabled = "" } })
                            </div>
                        </div>*@


                </td>



            </tr>


            <tr>
                <td>
                    <hr />
                    <div class="titulo_general">
                        <h4>Fecha deseada</h4>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.Label("Fecha deseada ", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @*@Html.EditorFor(model => model.FECHA_NACIMIENTO, new { htmlAttributes = new { @class = "form-control", maxlength = 14, @placeholder = "Ingerese su Fecha de Nacimiento" } })*@
                            @Html.Editor("FECHA", new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control datepicker",
                               @value = ViewData["FECHA"].ToString(),
                               @placeholder = "Ingerese su fecha deseada",
                               disabled = "" @*type = "datetime-local"*@ @*@type = "date"*@}
})
                            @Html.ValidationMessageFor(model => model.FECHA, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Turno ", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("TURNO",
                                      (IEnumerable<SelectListItem>)ViewData["listaTurno"],
                                      "Seleccione un turno para su horario de atencion", htmlAttributes: new { @class = "form-control", disabled = "" })
                            @Html.ValidationMessageFor(model => model.TURNO, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    @*<div class="form-group">
                            @Html.LabelFor(model => model.TIME_OUT, "End Time", htmlAttributes: new { @class = "col-xs-4 col-sm-offset-1 col-sm-4" })
                            <div class='input-group date col-xs-8 col-sm-6' id='timeout'>
                                @Html.TextBoxFor(model => model.TIME_OUT, new { @class = "form-control" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time">
                                    </span>
                                </span>
                            </div>
                        </div>*@

                </td>
            </tr>
        </table>




        @*<div class="form-group">
                @Html.LabelFor(model => model.ID_PACIENTE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ID_PACIENTE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ID_PACIENTE, "", new { @class = "text-danger" })
                </div>
            </div>*@





        @*<div class="form-group">
                @Html.LabelFor(model => model.HORA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HORA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HORA, "", new { @class = "text-danger" })
                </div>
            </div>*@





        @*<div class="form-group">
                @Html.Label("Area", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ID_AREA,
                              (IEnumerable<SelectListItem>)ViewData["ListaNombreAreas"],
                              "Seleccione el area donde desea ser atendida", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_AREA, "", new { @class = "text-danger" })
                </div>
            </div>*@





        @*<div class="form-group">
                @Html.LabelFor(model => model.ESTADO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ESTADO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ESTADO, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>*@
        <br />

        <table align="center">
            <tr>
                @*<td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Aceptar Cita" class="btn btn-success" />
                        </div>
                    </div>
                </td>*@
                <td>&nbsp;  &nbsp; &nbsp;  &nbsp;</td>
                <td>
                    <div div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input onclick="location.href='@Url.Action("ListadoCitasPaciente", "CitasPaciente")'" type="button" value="Volver" class="btn btn-finalizar" />
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Content/js/bootstrap-timepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changemonth: true,
                changeyear: true
            });
        });


    </script>

}