@model SistemaClinico.Models.UsuarioPersonal

@{
    ViewBag.Title = "Details";
}
@using SistemaClinico.Controllers;
@using System.Data;
<div class="titulo_general"><h1>Personal</h1></div>

@*<div>
        <h4>UsuarioPersonal</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ID_PERSONAL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ID_PERSONAL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NOMBRES)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOMBRES)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.APELLIDOS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.APELLIDOS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DUI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DUI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NIT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NIT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GENERO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GENERO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ID_DEPARTAMENTO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ID_DEPARTAMENTO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TELEFONO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TELEFONO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ID_ROL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ID_ROL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CORREO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CORREO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ESTADO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ESTADO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ID_DIRECCION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ID_DIRECCION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DIRECCION_COM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DIRECCION_COM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ID_CONSULTORIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ID_CONSULTORIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.USUARIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.USUARIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PASSWORD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PASSWORD)
            </dd>

        </dl>
    </div>*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>UsuarioPersonal</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID_PERSONAL)


    <div class="form-group">
        @Html.LabelFor(model => model.NOMBRES, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NOMBRES, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.APELLIDOS, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.APELLIDOS, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DUI, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DUI, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NIT, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NIT, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Género", htmlAttributes: new { @class = "control-label col-md-2" })
        @*<div class="col-md-10">
                @Html.EditorFor(model => model.GENERO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GENERO, "", new { @class = "text-danger" })
            </div>*@
        <div class="col-md-10">
            @Html.EditorFor(model => model.GENERO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

        </div>
    </div>

    <div class="form-group">
        @Html.Label("Departamento", htmlAttributes: new { @class = "control-label col-md-2" })
        @*<div class="col-md-10">
                @Html.EditorFor(model => model.ID_DEPARTAMENTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID_DEPARTAMENTO, "", new { @class = "text-danger" })
            </div>*@
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ID_DEPARTAMENTO,
                      (IEnumerable<SelectListItem>)ViewData["listaDepartamentos"],
                      "Seleccione un Departamento", htmlAttributes: new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TELEFONO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TELEFONO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Rol ", htmlAttributes: new { @class = "control-label col-md-2" })
        @*<div class="col-md-10">
                @Html.EditorFor(model => model.ID_ROL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID_ROL, "", new { @class = "text-danger" })
            </div>*@
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ID_ROL,
                      (IEnumerable<SelectListItem>)ViewData["listaRoles"],
                      "Seleccione un Rol", htmlAttributes: new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CORREO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CORREO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Estado", htmlAttributes: new { @class = "control-label col-md-2" })
        @*<div class="col-md-10">
                @Html.EditorFor(model => model.ESTADO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ESTADO, "", new { @class = "text-danger" })
            </div>*@
        <div class="col-md-10">
            @Html.EditorFor(model => model.ESTADO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

        </div>
    </div>

    <div class="form-group">
        @Html.Label("Municipio", htmlAttributes: new { @class = "control-label col-md-2" })
        @*<div class="col-md-10">
                @Html.EditorFor(model => model.ID_DIRECCION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID_DIRECCION, "", new { @class = "text-danger" })
            </div>*@
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ID_DIRECCION,
                      (IEnumerable<SelectListItem>)ViewData["listaDirecciones"],
                      "Seleccione un Municipio", htmlAttributes: new { @class = "form-control", disabled = "disabled" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DIRECCION_COM, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DIRECCION_COM, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Consultorio", htmlAttributes: new { @class = "control-label col-md-2" })
        @*<div class="col-md-10">
                @Html.EditorFor(model => model.ID_CONSULTORIO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID_CONSULTORIO, "", new { @class = "text-danger" })
            </div>*@
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ID_CONSULTORIO,
                      (IEnumerable<SelectListItem>)ViewData["listaConsultorios"],
                      "Seleccione un Consultorio", htmlAttributes: new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.USUARIO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.USUARIO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>
    </div>

    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>*@

    <table align="center">
        <tr>
            <td>
                <div div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input onclick="location.href='@Url.Action("Index", "UsuariosPersonal")'" type="button" value="Volver" class="btn btn-finalizar" />
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
}

@*<p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
