@model SistemaClinico.Models.ConstanciaPDF

@{
    ViewBag.Title = "ConstanciaDetalle";
}

<div class="titulo_general"><h1>Detalles de Constancia</h1></div>
<br />
<br />
<hr />
<div class="parrafoscentrados">
    <div class="parrafoscentradoshijo">
        <p style="font-size:20px;">
            <div class="titulo_constancia"><h2><b>Unidad de Salud DatanetSV</b></h2></div>
            <hr />
            <br />
            <br />
        <p style="font-size:20px;">
            Yo, <b>Dr.@ViewData["doctor"].ToString()</b> por medio de este documento hago constar <br />
            que el paciente <b>@ViewData["paciente"].ToString()</b> se le realizó su evaluación médica en la fecha <b> @ViewData["fecha"].ToString().Remove(10) </b> <br />
            del presente año en el siguiente horario <b>@ViewData["hora"].ToString()</b>, y se le extiende la constacia médica <br />
            para los usos que estime conveniente<br />
        </p>
        <hr />
        <br />
        <br />
        <br />
        <p style="font-size:20px;">
            Diagnostico: @ViewData["diagnostico"].ToString()
        </p>
        <br />
        <hr />
        <br />
        <br />
        <br />
        <p>
            <table align="center">
                <tr>
                    <th>Att. @ViewData["doctor"].ToString()</th>

                    <th><center><img src="~/Content/Images/sello_datanet.jpg" /></center></th>

                </tr>


                <tr>
                    <td> ________________________________________ <br /><center>Doctor Asignado</center></td>





                    <td>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  ________________________________________ @*<center><img src="~/Content/Images/sello_datanet.jpg" /></center>*@<br />
                        <center>Sello</center>
                    </td>

                </tr>
            </table>
        </p>
        </p>

    </div>

</div>
<hr />
<br />
<table align="center">
    <tr>
        <td>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                   

                    <button class="btn btn-success">@Html.ActionLink("Generar Constancia", "GenerarConstancia", new { id = @ViewData["idConsulta"] })</button>
                </div>
            </div>
        </td>
        <td>&nbsp;  &nbsp; &nbsp;  &nbsp;</td>
        <td>
            <div div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input onclick="location.href='@Url.Action("GeneracionConstancias", "Consultas", new { idpaciente = @ViewData["idpaciente"], msj = 0 })'" type="button" value="Volver" class="btn btn-finalizar" />
                </div>
            </div>
        </td>
    </tr>
</table>

@*</center>*@


