@*@model IEnumerable<SistemaClinico.Models.ConsultaPac>*@
@model IPagedList<SistemaClinico.Models.ConsultaPac>
@{
    ViewBag.Title = "Index";
}
@using PagedList;
@using PagedList.Mvc;
@using SistemaClinico.Controllers;

<div class="titulo_general"><h1>Generación de Constancias Médicas</h1></div>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
      

        <th>
            @Html.DisplayName("Doctor ")
        </th>
        <th>
            @Html.DisplayName("Fecha consulta ")
        </th>
        <th>
            @Html.DisplayName("Hora ")
        </th>
   
        <th>
            @Html.DisplayName("Diagnóstico ")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
        
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRES)

                @Html.DisplayFor(modelItem => item.APELLIDOS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HORA)
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.DIAGNOSTICO)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Generar Constancia", "GenerarConstancia", new { id = item.ID_CONSULTA })
                @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }

</table>
