@model SistemaClinico.Models.ConstanciaPDF

@{
    Layout = null;
}

<html>
<head>
    <title>Reporte</title>
    <meta charset="utf-8">
    <style>
        hr {
            height: 5px;
            background-color: black;
        }
    </style>

    <link rel="stylesheet" href="~/Content/TableCSS.css" />
    <link rel="stylesheet" href="~/Content/Tablas.css" />
</head>
<body>
    <br /><br />


    <hr />
    <div style='text-align:right'><p style="font-size:25px">Unidad de Salud DatanetSV</p></div>
    <hr />
    <br /><br />
    <img src="~/Content/Images/banergeneral2.jpg" />
    @*Titulo del reporte*@
    <br /><br />
    <br /><br />
    <div style='text-align:center'><p style="font-size:55px">Constancia Médica </p></div>

    <p style="font-size:25px">
        Yo, <b>Dr.@Html.DisplayFor(model => model.NOMBRES)  @Html.DisplayFor(model => model.APELLIDOS)</b> por medio de este documento hago constar <br />
        que el paciente <b> @Html.DisplayFor(model => model.NOMBRE)  @Html.DisplayFor(model => model.APELLIDO)</b> se le realizó su evaluación médica en la fecha <b> @Html.DisplayFor(model => model.FECHA) </b> <br />
        del presente año en el siguiente horario <b> @Html.DisplayFor(model => model.HORA)</b>, y se le extiende la constacia médica <br />
        para los usos que estime conveniente<br />
    </p>
    <br /><br /><br /><br />
    <p style="font-size:50px">Diagnóstico</p>
    <p style="font-size:25px">@Html.DisplayFor(model => model.DIAGNOSTICO)</p>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <footer>
        <center>
            <div>
                <br />
                <br />
                <br />
                <br />
                <table>
                    <tr>
                        <th>Att. @Html.DisplayFor(model => model.NOMBRES)  @Html.DisplayFor(model => model.APELLIDOS)</th>

                        <th><center><img src="~/Content/Images/sello_datanet.jpg" /></center></th>

                    </tr>

                    
                    <tr>
                        <td> ________________________________________ <br /><center>Doctor Asignado</center></td>
                        
                        
                  
                        

                        <td>
                            &nbsp; &nbsp; &nbsp; ________________________________________ @*<center><img src="~/Content/Images/sello_datanet.jpg" /></center>*@<br />
                            <center>Sello</center>
                        </td>

                    </tr>
                </table>

                <!--<table>
                    <tr>
                        <th>Att.--> @*@Html.DisplayFor(model => model.NOMBRES)  @Html.DisplayFor(model => model.APELLIDOS)*@<!--</th>
                        <th>-->@*<img src="~/Content/Images/sello_datanet.jpg" />*@<!--</th>
                    </tr>
                    <tr>
                        <td>________________________________________ </td>
                        <td>________________________________________ </td>
                    </tr>
                    <tr>
                        <td><center>Doctor Asignado</center></td>
                        <td><center>Sello</center></td>
                    </tr>
                </table>-->

            </div>
        </center>
    </footer>
    <center>

        @*<div class="container2">
            <table class="table2">
                <tr>
                    <th style="font-size: 20px">Paciente</th>
                    <th style="background-color:white">Doctor</th>
                    <th style="background-color:white">Fecha</th>
                    <th style="background-color:white">Hora</th>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.NOMBRE) @Html.DisplayFor(model => model.APELLIDO)</td>
                    <td>@Html.DisplayFor(model => model.NOMBRES) @Html.DisplayFor(model => model.APELLIDOS)</td>
                    <td>@Html.DisplayFor(model => model.FECHA)</td>
                    <td>@Html.DisplayFor(model => model.HORA)</td>

                </tr>
            </table>*@
        <!--<table>
            <tr>
                <th>Diagnóstico</th>
            </tr>
            <tr>
                <td>-->
        @*@Html.DisplayFor(model => model.DIAGNOSTICO*@
        <!--)</td>
            </tr>
        </table>
        </div>-->

    </center>


</body>
</html>

@*<h2>Consulta Médica</h2>
<link rel="stylesheet" href="~/Content/TableCSS.css" />
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/sheetslider.min.css" />
<link rel="stylesheet" href="~/Content/Site.css" />
<link rel="stylesheet" href="~/Content/estilito.css" />
<link rel="stylesheet" href="~/Content/Tablas.css" />
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-timepicker.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-timepicker.css" rel="stylesheet" />*@
<!--<hr />
<div>
    <h4>
        Por medio de este documento hago constar que el paciente--> @*@Html.DisplayFor(model => model.NOMBRE)*@ <!--se le realizo su evaluacion
        medica en la fecha-->  @*@Html.DisplayFor(model => model.FECHA)*@ <!--del presente en el siguiente horario--> @*@Html.DisplayFor(model => model.HORA)*@<!--,
        y se le extiende la constacia medica para los usos que estime conveniente
    </h4>
    <hr />

    <table class="table">
        <tr>
            <th>Paciente</th>
            <th>Doctor</th>
            <th>Fecha</th>
            <th>Hora</th>

        </tr>
        <tr>
            <td>-->@*@Html.DisplayFor(model => model.NOMBRE) @Html.DisplayFor(model => model.APELLIDO)*@<!--</td>
            <td>-->@*@Html.DisplayFor(model => model.NOMBRES) @Html.DisplayFor(model => model.APELLIDOS)*@<!--</td>
            <td>-->@*@Html.DisplayFor(model => model.FECHA)*@<!--</td>
            <td>-->@*@Html.DisplayFor(model => model.HORA)*@<!--</td>

        </tr>

       
    </table>

    <table>
        <tr>
            <th>Diagnóstico</th>
        </tr>
        <tr>
            <td>-->@*@Html.DisplayFor(model => model.DIAGNOSTICO)*@<!--</td>
        </tr>
    </table>
</div>



<div>
    <br />
    <br />
    <br />
    <br />
    <table>
        <tr>
            <th>Firma</th>
            <th> </th>
            <th>Sello</th>
        </tr>
        <tr>
            <td>________________________________________</td>
            <td>&nbsp; &nbsp; &nbsp;</td>
            <td>________________________________________</td>
            
        </tr>
    </table>

</div>-->

