@*@model IEnumerable<SistemaClinico.Models.ConsultaPac>*@
@model IPagedList<SistemaClinico.Models.ConsultaPac>
@{
    ViewBag.Title = "Index";
}
@using PagedList;
@using PagedList.Mvc;
@using SistemaClinico.Controllers;

<div class="titulo_general"><h1>Mis Consultas</h1></div>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<br />
<br />
<table id="table_id" class="table_lista">
    <tr class="tr_lista">


        <th class="th_lista">
            @Html.DisplayName("Doctor ")
        </th>
        <th class="th_lista">
            @Html.DisplayName("Fecha consulta ")
        </th>
        <th class="th_lista">
            @Html.DisplayName("Hora ")
        </th>
        <th class="th_lista">
            @Html.DisplayName("Tipo cita ")
        </th>

        <th class="th_lista">
            @Html.DisplayName("Opciones ")

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="tr_lista">

            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.NOMBRES)

                @Html.DisplayFor(modelItem => item.APELLIDOS)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.FECHA)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.HORA)
            </td>
            <td class="td_lista">
                @Html.DisplayFor(modelItem => item.TIPO_CITA)
            </td>

            <td class="td_lista">
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Detalles", "Details", new { id = item.ID_CONSULTA })
                @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }

</table>
<br />
<br />
<table align="center">
    <tr>
        <td>
            <div div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input onclick="location.href='@Url.Action("Index", "Home")'" type="button" value="Volver" class="btn btn-finalizar" />
                </div>
            </div>
        </td>
    </tr>
</table>